@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
body{
    margin:0;
    padding:0;
    background: linear-gradient(to right top, #CE69E0,#FB9FA5);
    font-family: 'Be Vietnam Pro', sans-serif;
}
.box
{
    background: rgb(23,24,31);
    width: 22rem;
    padding:1.5rem;
    margin: 2rem auto;
    border-radius: 1.8rem;
    color: rgb(193,195,201);
}
.bar
{
    width: 120px;
    height: 5px;
    margin: auto;
    
    background: #fff;
    border-radius:3px;
}
.heading
{
    margin-top: 32px;
    display: flex;
}
.heading h3
{ 
    margin: auto;
    margin-left: 10px;
    font-size: 25px;
}
.heading-back-icon {
    background: rgb(32,33,44);
    padding: 10px 14px;
    border-radius: 14px;
}
.heading-info-icon
{
    margin: auto;
    margin-right: 10px;
}
.content
{

    margin-top:40px;
}
.task
{
    background: rgb(40, 40, 54);
    padding: 11px 14px;
    margin-bottom:10px;
    border-radius: 14px;
    
}
h5
{
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
}
.processing h5 
{
    color: rgb(251,118,161);
}
.completed h5
{
    color: rgb(111,196,190);
}
.search
{
    position: relative;
    display: inline-block;
    text-align: center;
    background: linear-gradient(to right top,#C546D3,rgb(253,147,135));
    border-radius: 14px;
    width: 55px;
    height: 55px;
    left: 42%;
    top: -17px;
    
    

}
.search-icon {
    margin-top:17px;
}
input[type="checkbox"]
{
    appearance:none;
    -webkit-appearance: none;
    margin:0;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    
    border-radius:6px;
    border:3px solid rgb(197, 73, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
input[type="checkbox"]:after
{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    font-size: 12px;
    color: rgb(40, 40, 54);
    display:none;
}
input[type="checkbox"]:checked
{ 
    background-color:rgb(197, 73, 120) ;
}
input[type="checkbox"]:checked:after
{ display: block; }

.checkbox
{
    display: flex;
}
